<div>
  <h3 class="title">TABLA DE FACTURACIÓN</h3>
</div>
<dx-data-grid
    id="dataGridVentas"
    [dataSource]="listaVentas"
    keyExpr="id_Venta"
    [columnAutoWidth]="true"
    (onRowInserted)="onRowInsertedVenta($event)"
    (onRowUpdated)="onRowUpdatedVenta($event)"
    (onRowRemoved)="onRowRemovedVenta($event)">

    <dxo-editing
      mode="cell"
      [allowDeleting]="true"
      [allowUpdating]="true"
      [allowAdding]="true"
      >
    </dxo-editing>

    <dxi-column dataField="producto">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    
    <dxi-column dataField="cantidad">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>

    <dxi-column dataField="nombre">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>

    <dxi-column dataField="fecha">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>

    <dxi-column dataField="total">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>

    <dxo-selection mode="single"></dxo-selection>

    <dxo-summary>
      <dxi-group-item
        summaryType="count">
      </dxi-group-item>
    </dxo-summary>
    
    <dxo-filter-row [visible]="true"></dxo-filter-row>
  
  </dx-data-grid>
