
<div class="titleContent">
  <h1 class="title">Aplicación de facturación</h1>
</div>

<div class="instruccionesVentas">
  <h4 class="subtitle">
    Instrucciones para el módulo de facturación
  </h4>
  <table class="tabla">
    <tbody>
      <tr>
        <td>
          <i class="fa-solid fa-plus"></i>
        </td>
        <td>Realiza un nuevo registro desde la misma tabla</td>
      </tr>
      <tr>
        <td>
          <i class="fa-solid fa-magnifying-glass"></i>
        </td>
        <td>Filtrar busqueda</td>
      </tr>
      <tr>
        <td class="bold">Actualizar</td>
        <td>Para Actualizar algun registro, lo puede hacer desde la tabla</td>
      </tr>
      <tr>
        <td class="delete">Delete</td>
        <td>Elimina un registro completo</td>
      </tr>
    </tbody>
  </table>
</div>

<div id="contenedorDataGrid">
  <app-ventas></app-ventas>
  <app-productos></app-productos>
</div>